<div>
    <h2>Add User Details</h2>
    <div *ngIf="flag">
        <h2>Update User</h2>
        <form (ngSubmit)="updateDataFromDb()">
            <label>UId</label>
            <input type="number" name="uid" [(ngModel)]="uid" readonly/><br>
            <label>Uname</label>
            <input type="text" name="uname" [(ngModel)]="uname" /><br>
            <label>Address</label>
            <input type="text" name="address" [(ngModel)]="uname" /><br>
            <label>Gender</label>
            <input type="text" name="gender" [(ngModel)]="uname" /><br>
            <label>Emailid</label>
            <input type="text" name="emailid" [(ngModel)]="uname" /><br>
            <label>Mnumber</label>
            <input type="number" name="mnumber" [(ngModel)]="uname" /><br>
            <label>Dob</label>
            <input type="text" name="dob" [(ngModel)]="uname" /><br>
            <label>Uadhar</label>
            <input type="number" name="uadhar" [(ngModel)]="uadhar"/><br>
            <label>Url</label>
            <input type="url" name="url" [(ngModel)]="url"/><br>
            <input type="submit" value="update data">
            <input type="reset" value="reset">
        </form>
    </div>
    <span *ngFor="let u of users">
        <img src={{u.url}} width ="300px" height="300px">
        <span>{{u.uname}} {{u.uadhar}} {{u.address}} {{u.emailid}} {{u.dob}} {{u.gender}} {{u.mnumber}}</span>
        <input type="button" value="delete" (click)="deleteUser(u.uid)">
        <input type="button" value="update" (click)="updateUser(u)">
    </span>
</div>